.footer {
  padding-bottom: 60px;
  padding-top: 60px;

  background: $secondaryBgColor;

  &__content {
    display: flex;
    align-items: baseline;
  }
  &__logo {
    margin-bottom: 20px;
    display: inline-block;
  }
  &__contacts {
    margin-right: 70px;
  }
  &__network {
    margin-right: 93px;
  }
  &__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $primaryWhiteColor;
  }
}

