.header {
  border-bottom: 1px solid $primaryBorderColor;
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 60px;
  }
}

