.header {
  border-bottom: 1px solid $primaryBorderColor;

  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 93px;
  }
}

