.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &:nth-child(3) {
    padding-top: 0px;
  }
  &--secondary {
    background-color: $primaryFilterColor;
  }
  &__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $primaryTitleColor;
  }
}
// .section:nth-child(3) {
//   padding-top: 0px;
// }
// .section--secondary {
//   background-color: $primaryFilterColor;
// }
// .section__title {
//   margin-bottom: 50px;

//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
//   color: $primaryTitleColor;
// }
