body {
  background-color: $primaryWhiteColor;
  font-family: $mainFont;
  color: $primaryTextColor;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding-left: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
