$primaryWhiteColor: #ffffff;
$accentColor: #2196f3;
$primaryTextColor: #757575;
$primaryTitleColor: #212121;
$primaryBlackColor: #000000;
$primaryFilterColor: #f5f4fa;
$primaryBorderColor: #ececec;
$secondaryBorderColor: #eeeeee;
$secondaryBgColor: #2f303a;
$primaryIconColor: #afb1b8;
$secondaryIconColor: rgba(255, 255, 255, 0.1);
$primaryBorderIcon: #afb1b8;
$primaryBorderForm: #212121;
$primaryPlaceholderColor: rgba(117, 117, 117, 0.5);

// Fonts
$mainFont: "Roboto", sans-serif;
$secondaryFont: Raleway;
